@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@font-face {
  font-family: "THICCCBOI-ThicccAF";
  src: url("/THICCCBOI-ThicccAF.woff2") format("woff2");
  font-display: swap;
}

:root {
  --primary-font: "THICCCBOI-ThicccAF";
  --background-color: #28282B
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  margin: 0px;
}

h1 {
  padding: 0;
  margin: 0;
}